<p>Клиент {{name}} отправил свой прайс лист</p>
{{#if text}}
    <pre>Прайс-лист: {{text}}</pre>
{{/if}}
{{#if comment}}
    <pre>Комментарий: {{comment}}</pre>
{{/if}}
<div>------------------------------------------------------</div>
<div>Обратная связь через:</div>
{{#if phone}}
    <p>обратный звонок на номер: {{phone}}</p>
{{/if}}
{{#if email}}
    <p>письмо на email: {{email}}</p>
{{/if}}
