<div>

    <span>ФИО: {{firstName}} {{name}} {{lastName}}</span>
    <span>Контакты для связи: Телефон -  {{phone}}; E-mail - {{email}}</span>
    <span>Организация: {{companyName}} ИНН {{inn}} КПП {{kpp}}</span>
    <span>Адрес организации: {{address}}</span>
    <span>Информация об организации: {{aboutCompany}}</span>
    <span>Деятельность: {{activity}}</span>

</div>
